@import "../../stylesheets/__constants.styl"
@import "../../stylesheets/__theme.styl"

aside_light_header = color
aside_light_anchor = darken(bck_lightest, 15%)
aside_dark_header  = bck_darkest
aside_dark_anchor  = lighten(bck_dark, 15%)
section            = bck_light
dimension          = 16px

[data-tuktuk=boxes]
  /* ====================== ASIDE ====================== */
  & > aside
    &.light
      background: bck_lightest
      &
        color: lighten(text, 15%)
      & a:not(.button)
        color: lighten(text, 25%)
      & hr
        background: aside_light_anchor

    &.dark
      background: bck_dark
      &
        color: lighten(bck_dark, 90%)
      & a:not(.button)
        color: #fff
      & hr
        background: #444

    & a:not(.button)
      &:hover, &:active, &.active
          color: color

  /* ====================== SECTION ====================== */
  & > section
    background: bck_light
    box-shadow: inset 4px 0 0 rgba(0,0,0,0.025)

  /* ====================== NAVIGATION ====================== */
  & nav
    &[data-filter] > a:not(.button)
      border-radius 2px
      color: lighten(text, 40%)
      &:hover, &:active, &.active
        color: text
        background: darken(section, 5%)
        box-shadow 0 -1px 0 darken(section, 20%), 0 1px 0 lighten(section, 80%)

    &[data-link] > a > .icon
      color: aside_light_anchor

    & > a > small
      opacity: 0.5

/* ====================== HEADER/FOOTER ====================== */
header
  aside.light &
    background-color: aside_light_header
    box-shadow inset 0 1px 0 lighten(aside_light_header, 25%), inset 0 -1px 0 darken(aside_light_header, 20%)
    color: #fff
  aside.dark &
    background: color = aside_dark_header
    box-shadow: inset 0 -1px 0 aside_dark_anchor
  section > &
      border-bottom: dotted 1px aside_light_anchor

footer
  aside &, section > &
    background: rgba(0,0,0,0.1)

/* ====================== ARTICLE ====================== */
article
  aside.light &
    box-shadow inset -1px 0 0 aside_light_anchor

/* ====================== MENU ====================== */
[data-menu] > a:not(.button)
  aside.light &
    border-bottom: dotted 1px aside_light_anchor
    &:first-child
      border-top: dotted 1px aside_light_anchor
  aside.dark &
    border-bottom: dotted 1px aside_dark_anchor
    &:first-child
      border-top: dotted 1px aside_dark_anchor
