@import "../../stylesheets/__constants.styl"

/* ====================== CONSTANTS ====================== */
header_height = 44px
aside_width   = 232px
dimension     = (dimension - 6)

body, html
  height: 100%
  width: 100%
  margin: 0
  padding: 0

[data-tuktuk=boxes]
  display-box()
  box-pack(justify)
  overflow: hidden

  /* ===================== INHERITANCE ==================== */
  // &  [class^="column_"], [class*=" column_"]
  //   margin-left: 0px !important

  /* ====================== SCAFFOLD ====================== */
  & > aside, & > section
    display-box()
    box-orient(vertical)

    & > header, > footer, > div > header, > div > footer
      box-flex(0)
      display: block
      height: header_height
      line-height: header_height
      padding: (dimension / 2)
      & > *
        height: h = (header_height - dimension)
        line-height: h
      & .button, button
        margin: 0 1px

    & article
      box-flex(1)

  & > aside
    box-flex(0)
    width: aside_width
    z-index: 1

    &.absolute
      position: absolute
      height: inherit
      transition all 300ms

      &:not(.right)
        transform translateX(-(aside_width * 1.25))
        &.active
          transform translateX(0px)
      &.right
        transform translateX((aside_width * 1.25))
        &.active
          transform translateX(-(aside_width))

    & > div
      width: 100%
      height: 100%
      display-box()
      box-orient(vertical)

  & > section
    box-flex(1)
    z-index: 0

  /* ====================== LIST ====================== */
  & ul
    &.totals
      display-box()
      box-pack(justify)
      text-align: center
      list-style: none

      & > li
        box-flex(0)
        & > strong
          display: block
          font-weight: 400
          font-size: 1.75em
          line-height: 0.9em

        & > small
          text-transform: uppercase
          font-size: 0.85em

  /* ====================== NAVIGATION ====================== */
  & nav
    &[data-filter]
      font-size: font-size-tiny
      & > a:not(.button)
        margin-right: (dimension / 2)
        padding: (dimension / 2.5) (dimension / 1.5)
        &:last-child
          margin-right: 0

    &[data-menu]
      & > a
        display: block
        padding: (dimension / 1.5)

    &[data-link]
      & > a
        display: block
        font-size: font-size-tiny
        line-height: 2em
        & > .icon
          position: relative
          top: 3px
          margin-right: (dimension / 3)
          font-size: 1.5em
          font-weight: normal

    &[data-button]
      display-box()
      box-pack(justify)
      & > *
        box-flex(0)
        display: inherit


    & > a > small
      position: relative
      margin-left: 4px
      bottom: 1px

  /* ====================== WIDGETS ====================== */
  & .margin
    margin: dimension
  & .margin_left
    margin-left: dimension
  & .margin_right
    margin-right: dimension
  & .margin_top
    margin-top: dimension
  & .margin_bottom
    margin-bottom: dimension

  & > aside, & > section
    & .session
      & > *
        float: left

      & > .avatar
        height: (header_height - dimension)
        margin-right: (dimension / 2)

      & > button, & > .button
        margin-top: (dimension / 5)
        float: right

  & > aside
    & article .avatar
      height: aside_width - (dimension * 2)
      width: aside_width - (dimension * 2)

    & hr
      border: 0
      height: 1px
      margin: 0px
