@import "STYLmethods/vendor.styl"

// -- FONT --
FONT-SIZE         = 16px
FONT-SIZE-TINY    = 0.8em
FONT-SIZE-SMALL   = 0.9em
FONT-SIZE-DEFAULT = 1em
FONT-SIZE-BIG     = 1.2em
FONT-SIZE-LARGE   = 1.4em

AIR               = 1em

HEIGHT-LARGE      = 49px

UNIT              = 2rem
// BOXES
HEADER_HEIGHT     = (2 * UNIT)
ASIDE_WIDTH       = (8 * UNIT)
