@import "../components/CSSmethods/vendor.styl"

FONT-SIZE         = 14px
FONT-SIZE-LARGE   = 1.4em
FONT-SIZE-BIG     = 1.2em
FONT-SIZE-DEFAULT = 1em
FONT-SIZE-SMALL   = 0.9em
FONT-SIZE-TINY    = 0.8em

AIR               = 1em

HEIGHT-LARGE      = 49px

// BOXES
FIREFOX_FLEX_HACK = 0
HEADER_HEIGHT     = 52px
ASIDE_WIDTH       = 224px
