.button, button
  position: relative
  display: inline-block
  border: none
  cursor: pointer
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  line-height: (1.25 * UNIT)
  text-align: center
  text-decoration: none
  outline: none
  background: none

  &.icon
    padding: 0 (.5 * UNIT)
  &:not(.icon)
    padding: 0 UNIT
    & .icon, & .loading
      margin-right: (AIR / 4)

  &.large
    font-size: FONT-SIZE-LARGE
    line-height: (2 * UNIT)
    padding: 0 (1.75 * UNIT)
  &.small
    font-size: FONT-SIZE-SMALL
  &.tiny
    font-size: FONT-SIZE-TINY
    line-height: (.75 * UNIT)
    padding: 0 (.5 * UNIT)

  &.anchor
    width: 100%
    &:not(.icon) .icon
      position: absolute
      left: AIR

  &.disabled, &:disabled
    cursor: default
