[data-tuktuk=boxes]
  display-flex()
  align-content stretch
  overflow: hidden

  /* ====================== SCAFFOLD ====================== */
  > aside, > section
    display-flex()
    flex-direction column
    height: inherit
    margin: 0px
    padding: 0px

    > header, > footer
      flex-shrink 0
      display: block
      height: HEADER_HEIGHT
      line-height: HEADER_HEIGHT
      padding: 0 AIR

    > header
      order 1
    > article
      order 2
      flex-shrink 1
      height: inherit
    > footer
      order 3

  > aside
    flex-shrink 0
    width: ASIDE_WIDTH

    &.absolute
      z-index: 1980
      position: absolute
      &:not(.right)
        transform translateX(-100%)
      &.right
        transform translateX(100%)
        right: 0px
       &.active
        transform translateX(0) !important
