.flexbox
  display-box()

  &.y
    box-orient(vertical)
    &.top
      box-pack(start)
    &.bottom
      box-pack(end)
    &.middle
      box-pack(center)
    &.left
      box-align(start)
    &.right
      box-align(end)
    &.center
      box-align(center)

  &.x
    box-orient(horizontal)
    box-pack(justify)
    &.top
      box-align(start)
    &.bottom
      box-align(end)
    &.middle
      box-align(center)
    &.left
      box-pack(start)
    &.right
      box-pack(end)
    &.center
      box-pack(center)

  &.reverse
    box-direction(reverse)

  &.single
    box-lines(single)

  &.multiple
    box-lines(multiple)

  & > *
    display: block

  & > .box
    box-flex(0)
  & > .box-1
    box-flex(1)
  & > .box-2
    box-flex(2)

  & > .flex_0
    box-flex(0)
  & > .flex_1
    box-flex(1)
  & > .flex_2
    box-flex(2)
  & > .flex_3
    box-flex(3)
  & > .flex_4
    box-flex(4)
  & > .flex_5
    box-flex(5)
  & > .flex_6
    box-flex(6)
  & > .flex_7
    box-flex(7)
  & > .flex_8
    box-flex(8)
  & > .flex_9
    box-flex(9)


  & > .order_1
    ordinal-group(1)
  & > .order_2
    ordinal-group(2)
  & > .order_3
    ordinal-group(3)
  & > .order_4
    ordinal-group(4)
  & > .order_5
    ordinal-group(5)
  & > .order_6
    ordinal-group(6)
  & > .order_7
    ordinal-group(7)
  & > .order_8
    ordinal-group(8)
  & > .order_9
    ordinal-group(9)
