@import "../../components/CSSmethods/vendor.styl"

/* BUTTONS */
WHITE           = #fff
COLOR           = #34495e
THEME           = #3498db
/* BUTTONS */
SECONDARY       = #ECF0F1
SUCCESS         = #2ECC71
ALERT           = #E74C3C
/* BACKGROUNDS */
LIGHT           = #ECF0F1
DARK         = #2C3E50
/* OTHERS */
TRANSITION      = 400ms
BORDER-RADIUS   = 4px

AVATAR_DEFAULT  = "http://www.murketing.com/journal/wp-content/uploads/2009/04/vimeo.jpg"
