@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700")

body
  color: COLOR
  background: WHITE
  font-size: 15px
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif
  font-weight: 300
  letter-spacing: -0.05em

  &:not(.color):not(.dark) a
    color: COLOR
    &:not(.button):hover, &:not(.button):active
      color: THEME

  & hr
    margin: 15px 0
    background: LIGHT
    background-color: rgba(0,0,0,0.1)

  & .radius
    border-radius: BORDER-RADIUS

  /* ====================== NAVIGATION ====================== */
  & nav[data-tuktuk=menu] > a
    border-radius (BORDER-RADIUS / 2)
    &:hover
      background-color: rgba(0,0,0,0.05)
    &.active
      color: COLOR
      background-color: rgba(0,0,0,0.1)
      & .icon
        color: THEME
    &:not(.active):not(:hover) > .icon, & small
      opacity: 0.6
      font-weight: 400

  .bck.color, .bck.dark
    & nav[data-tuktuk=menu] > a
      &:hover
        background-color: rgba(0,0,0,0.07)
      &.active
        background-color: rgba(0,0,0,0.15)

  /* ====================== BACKGROUNDS ====================== */
  & .bck
    &.light
      background-color: LIGHT
    &.color
      background-color: COLOR
    &.dark
      background-color: DARK
    &.theme
      background-color: THEME
    &.alert
      background-color: ALERT !important

    &.theme, &.alert
      color: WHITE

    &.color, &.dark
      color: lighten(COLOR, 75%)
      & hr
        background: lighten(COLOR, 10%)
        background: rgba(0,0,0,0.2)
      & a
        color: WHITE
        &.active
          color: WHITE !important


  /* ================================= TEXT ================================ */
  & .text
    &.shadow
      text-shadow 0 1px 1px rgba(0,0,0,0.5)
  & .color
    &.white
      color: WHITE !important
    &.theme
      color: THEME !important
    &.default
      color: COLOR !important

  /* ====================== FORM ====================== */
  & form, .form
    FORM_BORDER = #dce4ec
    & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea
      background-color: WHITE
      color: COLOR
      border: 1px solid FORM_BORDER
      border-radius BORDER-RADIUS
      transition border-color TRANSITION
      background-color: lighten(FORM_BORDER, 60%)
      &.error, &:required
        border-color: lighten(ALERT,25%) !important
        color: ALERT
        background-color: lighten(ALERT, 90%)
        &:focus
          border-color: ALERT !important
          background-color: lighten(ALERT, 95%)

      &:focus
        border-color: darken(FORM_BORDER, 25%)
        background-color: lighten(FORM_BORDER, 75%)

    & .select:after
      color: FORM_BORDER

     & input[type="checkbox"], input[type="radio"]
      background: WHITE
      border: 2px solid FORM_BORDER
      &:checked
        border-color: THEME
        &:after
          color: THEME
     & input[type="checkbox"]
      border-radius BORDER-RADIUS

    & label
      font-weight: bold


  & [data-control="checkbox"]
    RADIUS = 2em
    background: darken(LIGHT, 25%)
    color: darken(LIGHT, 5%)
    font-weight: 700
    border-radius: RADIUS
    & label
      border-radius: RADIUS
      background: darken(LIGHT, 50%)
    &.checked
      background-color: THEME
      color: WHITE !important
      & label
        background-color: darken(THEME, 25%)

  /* ====================== TABLE ====================== */
  & table
    background: WHITE
    color: COLOR
    border: 0.1em solid lighten(COLOR, 75%)
    & tr
      &:nth-child(even) td
        background-color: lighten(COLOR, 95%)
    & th
      background-color: lighten(COLOR, 75%)
      color: WHITE
    & td
      &.highlight
        background-color: THEME !important
        color: WHITE

  /* ====================== BUTTONS ====================== */
  & .button, button
    font-weight: 600 !important
    -webkit-font-smoothing: antialiased
    &:not(.transparent):not(:disabled)
      color: #fff !important
      border-radius BORDER-RADIUS
      background-color: THEME
      box-shadow: inset 0 -1px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.075)
      text-shadow:  0 1px rgba(0,0,0,0.1)
      &:hover
        box-shadow: inset 0 0 5em rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.15), 0 1px rgba(0,0,0,0.075)
      &:active
        box-shadow inset 0 0 5em rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2)
      &.secondary
        background-color: darken(SECONDARY, 25%)
       &.success
        background-color: SUCCESS
       &.alert
        background-color: ALERT

    &.transparent
      background: none !important

    &[disabled=disabled], &:disabled
      background-color: darken(SECONDARY, 5%)
      color: darken(SECONDARY, 30%) !important
      border-radius BORDER-RADIUS
      cursor: cursor

    & .icon
      opacity: 0.5

  & div.img
    background: LIGHT

  /* ====================== TAGs ====================== */
  & :not(.icon).tag
    color: WHITE !important
    border: solid 1px rgba(0,0,0,0.1)
    border-radius 2px


[data-tuktuk="modal"]
  & header
    background: THEME !important
    color: WHITE


[data-tuktuk=boxes]
  /* ====================== ASIDE ====================== */
  & aside
    background: WHITE
    color: lighten(COLOR, 15%)
    & header
      box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1)

  /* ====================== MENU ====================== */
  & aside [data-menu] > a:not(.button)
    border-radius (BORDER-RADIUS / 2)
    &.active
      background: THEME
      color: WHITE
