/* ================== IMAGE & MEDIA ================== */
div.img
  background: LIGHT
  height: 64px
  &.h128
    height: 128px
  &.h256
    height: 256px
  &.h512
    height: 512px

/* ================== TAGs ================== */
:not(.icon).tag
  position: relative
  top: -2px
  padding: 1px 3px
  font-weight: bold !important
  font-size: 9px !important
  text-transform: uppercase
  color: WHITE !important
  border: solid 1px rgba(0,0,0,0.1)
  border-radius 2px

/* ================== HR ================== */
& hr
  margin: 15px 0
  background: LIGHT
  background-color: rgba(0,0,0,0.1)


/* ================== RADIUS ================== */
& .radius
  border-radius: BORDER-RADIUS
