@import "../STYLmethods/vendor.styl"

/* DEFAULTS */
COLOR           = #222
BACKGROUND      = #fff
THEME           = #4bc613

/* BUTTONS */
WHITE           = #fff
/* BUTTONS */
BUTTON          = #555
DISABLED        = #444
SUCCESS         = #2ECC71
ALERT           = #E74C3C
/* BACKGROUNDS */
LIGHT           = #ddd
DARK            = #222
/* OTHERS */
TRANSITION      = 300ms
BORDER-RADIUS   = .2rem
FORM_BORDER     = #BDC3C7

AVATAR_DEFAULT  = "http://www.murketing.com/journal/wp-content/uploads/2009/04/vimeo.jpg"
