@import "../STYLmethods/vendor.styl"

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700")

/* DEFAULTS */
COLOR           = #222
BACKGROUND      = #fff
THEME           = #4bc613

FONT-FAMILY     = "Open Sans"
FONT-WEIGHT     = 400

/* BUTTONS */
WHITE           = #fff
/* BUTTONS */
BUTTON          = #555
DISABLED        = #444
SUCCESS         = #2ECC71
ALERT           = #E74C3C
/* BACKGROUNDS */
LIGHT           = #ddd
DARK            = #222
/* OTHERS */
TRANSITION      = 300ms
BORDER-RADIUS   = .1rem
FORM_BORDER     = #BDC3C7
AVATAR_DEFAULT  = "http://www.murketing.com/journal/wp-content/uploads/2009/04/vimeo.jpg"

