[data-tuktuk=boxes] ::-webkit-scrollbar
  width: SIZE = 0rem
  height: SIZE

COLOR = rgba(0,0,0,0.5)
[data-tuktuk=boxes] ::-webkit-scrollbar-thumb:vertical
  background-color: COLOR

[data-tuktuk=boxes] ::-webkit-scrollbar-thumb:horizontal
  background-color: COLOR

/* Corner */
[data-tuktuk=boxes] ::-webkit-scrollbar-corner:vertical
  background-color: COLOR

/* Resizer */
[data-tuktuk=boxes] ::-webkit-scrollbar-resizer:vertical
  background-color: COLOR
