@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
@font-face {
  font-family: "Source Sans Pro";
  font-style: thin;
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: bold;
  font-weight: 700;
}
form input[type="text"],
.form input[type="text"],
form input[type="password"],
.form input[type="password"],
form input[type="date"],
.form input[type="date"],
form input[type="datetime"],
.form input[type="datetime"],
form input[type="email"],
.form input[type="email"],
form input[type="number"],
.form input[type="number"],
form input[type="search"],
.form input[type="search"],
form input[type="tel"],
.form input[type="tel"],
form input[type="time"],
.form input[type="time"],
form input[type="url"],
.form input[type="url"],
form select,
.form select,
form textarea,
.form textarea {
  display: block;
  height: 32px;
  width: 100%;
  padding: 6px;
  margin: 2px 0 6px 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  font-family: inherit;
  font-size: 14px;
}
form input[type="text"]:focus,
.form input[type="text"]:focus,
form input[type="password"]:focus,
.form input[type="password"]:focus,
form input[type="date"]:focus,
.form input[type="date"]:focus,
form input[type="datetime"]:focus,
.form input[type="datetime"]:focus,
form input[type="email"]:focus,
.form input[type="email"]:focus,
form input[type="number"]:focus,
.form input[type="number"]:focus,
form input[type="search"]:focus,
.form input[type="search"]:focus,
form input[type="tel"]:focus,
.form input[type="tel"]:focus,
form input[type="time"]:focus,
.form input[type="time"]:focus,
form input[type="url"]:focus,
.form input[type="url"]:focus,
form select:focus,
.form select:focus,
form textarea:focus,
.form textarea:focus {
  outline: none !important;
}
form input[type="text"].large,
.form input[type="text"].large,
form input[type="password"].large,
.form input[type="password"].large,
form input[type="date"].large,
.form input[type="date"].large,
form input[type="datetime"].large,
.form input[type="datetime"].large,
form input[type="email"].large,
.form input[type="email"].large,
form input[type="number"].large,
.form input[type="number"].large,
form input[type="search"].large,
.form input[type="search"].large,
form input[type="tel"].large,
.form input[type="tel"].large,
form input[type="time"].large,
.form input[type="time"].large,
form input[type="url"].large,
.form input[type="url"].large,
form select.large,
.form select.large,
form textarea.large,
.form textarea.large {
  height: 52px;
  padding: 0 20px;
  font-size: 1.2em;
  margin: 0px;
}
form textarea,
.form textarea {
  height: 64px;
}
form label,
.form label {
  font-size: 0.9em;
  font-weight: 400;
}
.fieldset label,
fieldset label {
  display: block;
  text-align: right;
  float: left;
  width: 25%;
  padding: 2px 8px;
}
.fieldset label > span,
fieldset label > span {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}
.fieldset input[type="text"],
fieldset input[type="text"],
.fieldset input[type="password"],
fieldset input[type="password"],
.fieldset input[type="date"],
fieldset input[type="date"],
.fieldset input[type="datetime"],
fieldset input[type="datetime"],
.fieldset input[type="email"],
fieldset input[type="email"],
.fieldset input[type="number"],
fieldset input[type="number"],
.fieldset input[type="search"],
fieldset input[type="search"],
.fieldset input[type="tel"],
fieldset input[type="tel"],
.fieldset input[type="time"],
fieldset input[type="time"],
.fieldset input[type="url"],
fieldset input[type="url"],
.fieldset select,
fieldset select,
.fieldset textarea,
fieldset textarea {
  width: 75%;
}
