html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body * {
  box-sizing: border-box;
}
body > header {
  height: 48px;
  line-height: 48px;
  position: relative;
}
body > header .logo {
  font-size: 2em;
  line-height: 48px;
}
body > header nav {
  font-size: 0.95em;
}
body > header nav a {
  margin: 0 10px;
  display: inline-block;
}
body > header nav a:last-child {
  margin-right: 0px;
}
body > footer {
  padding: 16px 0;
}
body > section {
  padding: 48px 0;
  background: none;
}
body > section.landing {
  padding: 64px 0;
}
body > section.landing h1 {
  font-size: 8em;
}
body > section.landing h2 {
  font-size: 4em;
}
body > section.landing h3 {
  font-size: 2.8em;
}
body > section.landing .form {
  margin-top: 5px;
}
body > section.landing .form input {
  width: 65%;
}
body > section.landing .form .button,
body > section.landing .form button {
  width: 35%;
}
body a {
  text-decoration: none;
  outline: 0;
}
body a:link {
  -webkit-transition: color 0.2s linear 0s;
  -moz-transition: color 0.2s linear 0s;
  -ms-transition: color 0.2s linear 0s;
  -o-transition: color 0.2s linear 0s;
  transition: color 0.2s linear 0s;
}
