.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
.flexbox.y {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}
.flexbox.x {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
}
.flexbox > * {
  display: block;
}
.flexbox > .box {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
}
.flexbox > .box-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.flexbox > .box-2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
}
