.float.clear {
  clear: both;
}
.float.left {
  float: left;
}
.float.right {
  float: right;
}
.margin_none {
  margin: 0;
}
.margin {
  margin: 20px;
}
.margin_left {
  margin-left: 20px;
}
.margin_right {
  margin-right: 20px;
}
.margin_top {
  margin-top: 20px;
}
.margin_bottom {
  margin-bottom: 20px;
}
.padding_none {
  padding: 0;
}
.padding {
  padding: 20px;
}
.padding_left {
  padding-left: 20px;
}
.padding_right {
  padding-right: 20px;
}
.padding_top {
  padding-top: 20px;
}
.padding_bottom {
  padding-bottom: 20px;
}
.display.block {
  display: block;
}
.display.hidden {
  display: none;
}
/* ================== IMAGE & MEDIA ================== */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img.responsive {
  width: 100%;
  height: auto;
}
img.responsive.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
