nav {
  font-size: 15px !important;
}
nav.group a {
  font-size: 15px;
  padding: 12px 16px;
  margin: 0px;
  display: inline-block;
}
nav:not(.group) a {
  margin: 0 4px;
}
nav:not(.group) a:last-child {
  margin-right: 0px;
}
nav a:not(.button) .icon,
nav a:not(.button) img {
  margin-right: 3px;
  position: relative;
  top: 1px;
}
