ul {
  list-style: disc;
}
ul:not(.none) li {
  margin: 0 0 5px 18px;
  padding: 0;
  background: none;
}
ul ul,
ul ol {
  margin: 5px 0 5px 0;
}
ul.none {
  list-style: none outside;
  margin: 0;
}
ul.square,
ul.square ul {
  list-style: square outside;
}
ul.circle,
ul.circle ul {
  list-style: circle outside;
}
ol {
  margin: 0 0 20px 20px;
  list-style: decimal;
}
ol ol,
ol ul {
  margin: 5px 0 5px 20px;
}
ol li {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 18px;
}
