/* ==== Screen Bigger than 960px ==== */
@media only screen and (min-width:1200px) {
  header {
    height: auto;
  }
}
/* ==== Screen 960px ==== */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  header {
    height: auto;
  }
}
/* ==== Tablet (Smaller than 959px) ==== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  header {
    height: auto;
  }
}
/* ==== Phone (landscape 420px) ==== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: auto !important;
  }
}
/* ==== Phone (portrait 300px) ==== */
@media only screen and (max-width: 767px) {
  header {
    height: auto !important;
  }
}
/* ==== Any phone ==== */
@media only screen and (max-width: 767px) {
  section.landing h1 {
    font-size: 5em !important;
  }
  section.landing h2 {
    font-size: 2.8em !important;
  }
  section.landing h3 {
    font-size: 1.8em !important;
  }
  header {
    height: auto !important;
    line-height: 32px;
  }
  nav button,
  nav .button,
  nav a {
    text-align: center;
    display: block !important;
    margin: 2px 0px !important;
    line-height: 32px;
  }
  nav.group a {
    border: none !important;
  }
}
/* ==== Retina ==== */
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
  header {
    height: auto;
  }
}
