.button,
button {
  display: inline-block;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  line-height: 13px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.button:disabled,
button:disabled,
.button.disabled,
button.disabled {
  background: rgba(255,255,255,0.2);
  color: #999 !important;
}
.button .icon,
button .icon {
  margin-right: 5px;
  display: inline-block;
}
.button.anchor,
button.anchor {
  width: 100%;
}
.button.anchor .icon,
button.anchor .icon {
  margin-left: 8px;
  float: left;
}
.button.large,
button.large {
  height: 52px;
  padding: 0 24px;
  font-size: 1.45em;
  font-weight: 300;
  line-height: 52px;
}
.button.small,
button.small {
  height: 28px;
  padding: 0 12px;
  font-size: 0.9em;
  line-height: 26px;
}
.button.small > .icon,
button.small > .icon {
  height: 17px;
}
.button.tiny,
button.tiny {
  height: 22px;
  padding: 0 10px;
  font-size: 0.75em;
  line-height: 20px;
}
.button.tiny > .icon,
button.tiny > .icon {
  height: 12px;
}
