// Based on Kushagra Gour with HINT.css
// http://kushagragour.in/lab/hint/

@import "../../stylesheets/__constants.styl"

ARROW_COLOR = rgba(0,0,0,0.65)
[data-tip]
  position: relative
  display: inline-block

  &:before, &:after
    position: absolute
    opacity: 0
    z-index: 1000000
    pointer-events: none
    transition all 300ms 100ms

  &:hover:before, &:hover:after
    opacity: 1
  &:before, &:before
    content: ''
    position: absolute
    background: transparent
    border: 6px solid transparent
    z-index: 1000001
  &:after, &:after
    content: attr(data-tip)
    background: ARROW_COLOR
    color: white
    text-shadow: 0 -1px 0px black
    padding: 8px 10px
    font-size: 13px
    line-height: 13px
    font-weight: 600
    white-space: nowrap
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3)


  &:not(.tiptop):not(.tipright):not(.tipleft)
    &:before
      border-bottom-color: ARROW_COLOR
      margin-top: -12px
    &:after
      margin-left: -18px
    &:before, &:after
      top: 100%
      left: 50%
    &:hover:before, &:hover:after
      transform translateY(8px)


/**
 * set default color for tooltip arrows
 */
.tiptop:before
  border-top-color: ARROW_COLOR
.tipleft:before
  border-left-color: ARROW_COLOR
.tipright:before
  border-right-color: ARROW_COLOR

/**
 * top tooltip
 */
.tiptop:before
  margin-bottom: -12px
.tiptop:after
  margin-left: -18px
.tiptop:before, .tiptop:after
  bottom: 100%
  left: 50%
.tiptop:hover:before, .tiptop:hover:after
  transform translateY(-8px)

/**
 * right tooltip
 */
.tipright:before
  margin-left: -12px
  margin-bottom: -6px
.tipright:after
  margin-bottom: -14px
.tipright:before, .tipright:after
  left: 100%
  bottom: 50%
.tipright:hover:before, .tipright:hover:after
  transform translateX(8px)

/**
 * left tooltip
 */
.tipleft:before
  margin-right: -12px
  margin-bottom: -6px
.tipleft:after
  margin-bottom: -14px
.tipleft:before, .tipleft:after
  right: 100%
  bottom: 50%
.tipleft:hover:before, .tipleft:hover:after
  transform translateX(-8px)

