@import "../components/CSSmethods/vendor.styl"

/* ====================== COLORS ====================== */
font-size       = 13px
font-size-large = 1.5em
font-size-big   = 1.2em
font-size-small = 0.9em
font-size-tiny  = 0.8em

padding         = 10px
dimension       = 20px

MARGIN          = 1em

/* HEADER */
header_height   = 48px
header_bck      = #000
header_color    = #fff

/* ASIDE */
aside_width     = 420px

/* ARTICLE */
article_modal   = 640px

/* content */
content_header_height = 32px

/* HEADING */
heading_color   = #666

/* LIST */
list_hover        = #ccc
list_hover_light  = #eee
list_active       = #999

/* BOXES */
HEADER_HEIGHT = 52px
ASIDE_WIDTH   = 232px
DIMENSION     = (dimension - 6)
