@import "__constants.styl"


[data-tuktuk=boxes]
  display-box()
  box-pack(justify)
  overflow: hidden

  /* ====================== SCAFFOLD ====================== */
  & > aside, & > section
    display-box()
    box-orient(vertical)

    & > header, > footer, > div > header, > div > footer
      box-flex(0)
      display: block
      height: HEADER_HEIGHT
      line-height: HEADER_HEIGHT
      padding: (DIMENSION / 2)
      & > *
        height: h = (HEADER_HEIGHT - DIMENSION)
        line-height: h
      & .button, button
        margin: 0 1px

    & article
      box-flex(1)

  & > aside
    z-index: 2
    box-flex(0)
    min-width: ASIDE_WIDTH
    margin: 0px !important
    float: none !important

    &.absolute
      position: absolute
      height: inherit
      transition all 400ms

      &:not(.right)
        transform translateX(-100%)
      &.right
        transform translateX(100%)
       &.active
        transform translateX(0%)

    & > div
      width: 100%
      height: 100%
      display-box()
      box-orient(vertical)

  & > section
    box-flex(1)
    z-index: 0

  /* ====================== WIDGETS ====================== */
  & > aside, & > section
    & .session
      & > *
        float: left

      & > .avatar
        height: (HEADER_HEIGHT - DIMENSION)
        margin-right: (DIMENSION / 2)

      & > button, & > .button
        margin-top: (DIMENSION / 5)
        float: right

