[data-tuktuk=boxes]
  display-box()
  box-pack(justify)
  overflow: hidden

  /* ====================== SCAFFOLD ====================== */
  & > aside, & > section
    display-box()
    box-orient(vertical)

    & > header, > footer, > div > header, > div > footer
      box-flex(0)
      display: block
      height: HEADER_HEIGHT
      line-height: HEADER_HEIGHT
      padding: 0 AIR

    & article
      box-flex(1)
      height: FIREFOX_FLEX_HACK

  & > aside
    z-index: 2
    box-flex(0)
    min-width: ASIDE_WIDTH
    margin: 0 !important
    float: none !important

    &.absolute
      position: absolute
      height: inherit

      &:not(.right)
        transform translateX(-512px)
      &.right
        transform translateX(512px)
        right: 0px
       &.active
        transform translateX(0) !important

    & > div
      width: 100%
      height: 100%
      display-box()
      box-orient(vertical)

  & > section
    box-flex(1)
    z-index: 0

  /* ====================== WIDGETS ====================== */
  & > aside, & > section
    & .session
      height: inherit
      & > *
        display: inline-block
        float: left
