@import "__constants.styl"

.button, button
  display: inline-block
  border: none
  cursor: pointer
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  line-height: 2.3em
  text-align: center
  text-decoration: none
  outline: none
  background: none

  &.icon
    padding: 0 0.65em
  &:not(.icon)
    padding: 0 1em
    & .icon
      margin-right: (AIR / 2)

  &.large
    font-size: FONT-SIZE-LARGE
  &.small
    font-size: FONT-SIZE-SMALL
  &.tiny
    font-size: FONT-SIZE-TINY

  &.anchor
    width: 100%
    position: relative
    &:not(.icon) .icon
      position: absolute
      left: AIR
