@import "__constants.styl"

table
  margin: 1em 0
  width: 100%
  border-spacing: 0.1em

  & td, th
    padding: 0.5em 0.5em

  &.hoverable tr:hover td
    background-color: rgba(55, 130, 130, 0.3)

  & th, td.highlight
    font-weight: bold
