@import "__constants.styl"

form, .form
  & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea
    display: inline-block
    width: 100%
    height: 36px
    padding: 0 10px
    margin: 2px 0 6px 0
    font-family: inherit
    font-size: inherit
    -webkit-appearance: none
    -webkit-user-select: text
    -webkit-font-smoothing: antialiased
    &:focus
      outline: none !important
    &.large
      height: 52px
      font-size: font-size-big

  & textarea
    padding-top: 0.5em
    min-height: 64px
    line-height: font-size-big
    &.large
      min-height: 82px

  & label
    font-size: font-size-small
    font-weight: 400


  & input[type="checkbox"], input[type="radio"]
    display: inline-block !important
    margin-right: 5px
    width: 18px
    height: 18px
    -webkit-appearance: none
    text-align: center
    &:after
      content: "+"
      opacity: 0
      font-weight: bold
    &:checked
      &:after
        opacity: 1


  & input[type="checkbox"]:checked:after
    content: "✔"

  & input[type="radio"]
    border-radius: 9px
    &:checked:after
      content: "·"


  & .select
    position: relative
    display: block
    &:after
      z-index: 128
      position: absolute
      top: 10px
      right: 10px
      content: "▼"
      pointer-events: none

  & .fieldset, fieldset
    & label
      display: block
      text-align: right
      float: left
      width: 25%
      padding: 2px 8px

      & > small
        display: block
        font-size: 0.8em
        font-weight: 300

    & input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea
      width: 75%

/* -------------------------- CHECKBOX -------------------------- */
[data-control=checkbox]
  HEIGHT = 29px

  display: inline-block
  margin: 2px 0 6px 0
  width: 76px
  height: HEIGHT
  position: relative
  line-height: HEIGHT !important
  font-size: FONT_size_normal
  &, & label
    transition all 200ms ease

  input[type=checkbox]
    visibility: hidden

  &:after, &:before
    z-index: 0
    position: absolute
  &:before
    content: "ON"
    left: (HEIGHT / 2.2)
    opacity: 0
  &:after
    content: "OFF"
    right: (HEIGHT / 2.2)
  &.checked
    &:before
      opacity: 1
      z-index: 1
    &:after
      opacity: 0
      z-index: 0

  & label
    display: block
    height: S = (HEIGHT - 8)
    width: S
    cursor: pointer
    position: absolute
    top: 4px
    left: 5px
    z-index: 1

  & input[type=checkbox]:checked + label
    left: 50px
