@import "__constants.styl"

nav
  &.group
    & a
      font-size: 15px
      line-height: 2.0em
      padding: 0 12px
      margin: 10px 0px
      display: inline-block

  &:not(.group)
    & a
      margin: 0 4px
      &:last-child
        margin-right: 0px

  & a:not(.button) .icon, a:not(.button) img
    margin-right: 3px
    position: relative
    top: 1px
