div.loading
  display: none
  & > .container
    & > span
      left: 50%
      margin-left: -0.05em
      &, &::before, &::after
        display: block
        position: absolute
        width: .05em
        height: .25em
        top: 0
        transform-origin( .05em .5em )
      &::before, &::after
        content: " "

      &.top
        transform(rotate(0deg))
      &.right
        transform(rotate(90deg))
      &.bottom
        transform(rotate(180deg))
      &.left
        transform(rotate(270deg))
      &::before
        transform(rotate(30deg))
      &::after
        transform(rotate(-30deg))

@keyframes loading
  0%
    transform(rotate(0deg))
  8.32%
    transform(rotate(0deg))
  8.33%
    transform(rotate(30deg))
  16.65%
    transform(rotate(30deg))
  16.66%
    transform(rotate(60deg))
  24.99%
    transform(rotate(60deg))
  25%
    transform(rotate(90deg))
  33.32%
    transform(rotate(90deg))
  33.33%
    transform(rotate(120deg))
  41.65%
    transform(rotate(120deg))
  41.66%
    transform(rotate(150deg))
  49.99%
    transform(rotate(150deg))
  50%
    transform(rotate(180deg))
  58.32%
    transform(rotate(180deg))
  58.33%
    transform(rotate(210deg))
  66.65%
    transform(rotate(210deg))
  66.66%
    transform(rotate(240deg))
  74.99%
    transform(rotate(240deg))
  75%
    transform(rotate(270deg))
  83.32%
    transform(rotate(270deg))
  83.33%
    transform(rotate(300deg))
  91.65%
    transform(rotate(300deg))
  91.66%
    transform(rotate(330deg))
  100%
    transform(rotate(330deg))

