@import "__constants.styl"

/* ========================= HEADING ========================= */
h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  & .icon
    font-size: 0.85em

h1
  font-size: 2.6em
h2
  font-size: 2.2em
h3
  font-size: 1.8em
h4
  font-size: 1.6em
h5
  font-size: 1.3em
h6
  font-size: 1.0em


/* ========================= TEXT ========================= */
.text
  &.thin
    font-weight: 200
  &.book
    font-weight: 300
  &.normal
    font-weight: 400
  &.bold
    font-weight: 700
  &.italic
    font-style: italic
  &.underline
    border-bottom: 1px solid
  &.uppercase
    text-transform: uppercase
  &.left
    text-align: left
  &.right
    text-align: right
  &.center
    text-align: center
  &.justify
    text-align: justify
  &.tiny
    font-size: font-size-tiny
  &.small
    font-size: font-size-small
  &.big
    font-size: font-size-big
/* ========================= BASIC ELEMENTS ========================= */
p
  font-size: s = 1.1em
  line-height: s
small
  font-size: size = font-size-small
  line-height: size
strong
  font-weight: 700 !important
