.avatar {
  border: 2px solid #fff;
}
.avatar.small {
  height: 28px;
}
.avatar.medium {
  height: 48px;
}
.avatar.big {
  height: 80px;
}
header .avatar {
  margin-bottom: -7px;
  height: 24px;
}
.item {
  height: 420px;
  line-height: 420px;
}
.message {
  margin-bottom: 18px;
}
.message .info {
  margin-top: 8px;
  opacity: 0.5;
}
