.avatar {
  border: 2px solid #fff;
}
.avatar.small {
  height: 28px;
}
.avatar.medium {
  height: 40px;
}
.avatar.big {
  height: 80px;
}
header .avatar {
  margin-bottom: -7px;
  height: 24px;
}
.apps li {
  border-bottom: solid 1px #ccc;
}
.apps li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.apps li > img {
  width: 57px;
  height: 57px;
  border: solid 2px #fff;
  margin-right: 8px;
}
.menu > a {
  display: block;
  padding: 8px 8px;
  border-bottom: solid 1px #eee;
  margin: 0px !important;
}
.menu > a:last-child {
  border-bottom: none;
}
.menu > a.active,
.menu > a:hover,
.menu > a:active {
  background: #16a6b6;
  color: #fff;
}
.bck.bordered {
  border: 1px solid #eee;
  border-radius: 4px;
}
