.avatar
  border: 2px solid #fff
  &.small
    height: 28px
  &.medium
    height: 40px
  &.big
    height: 80px

  header &
    margin-bottom: -7px
    height: 24px


.apps
  & li
    border-bottom: solid 1px #ccc
    &:last-child
      border-bottom: none
      padding-bottom: 0

    & > img
      width: 57px
      height: 57px
      border: solid 2px #fff
      margin-right: 8px

.menu
  & > a
    display: block
    padding: 8px 8px
    border-bottom: solid 1px #eee
    margin: 0px !important

    &:last-child
      border-bottom: none
    &.active, &:hover, &:active
      background: #16A6B6
      color: #fff


.bck
  &.bordered
    border: 1px solid #eee
    border-radius: 4px
