

/* ====================== COLORS ====================== */




font-size       = 13px
font-size-small = 0.9em
font-size-tiny  = 0.8em

padding         = 10px

/* HEADER */
header_height   = 48px
header_bck      = #000
header_color    = #fff

/* ASIDE */
aside_width     = 420px

/* ARTICLE */
article_modal   = 640px

/* content */
content_header_height = 32px

/* HEADING */
heading_color   = #666

/* LIST */
list_hover        = #ccc
list_hover_light  = #eee
list_active       = #999
