ul, ol
  margin-bottom: 20px
  list-style: none
  & ul li, ol li
    margin: 0 0 6px 0

ul
  & li
    margin: 0 0 5px 0
    padding: 0 0 0 18px
    line-height: 18px
  & ul, ol
    margin: 5px 0 5px 0
  &.none
    list-style: none outside
    margin: 0
  &.square, &.square ul
    list-style: square outside
  &.circle, &.circle ul
    list-style: circle outside
  &.disc, &.disc ul
    list-style: disc outside
  &.square, &.circle, &.disc
    & li
      margin: 0 0 5px 15px
      padding: 0
      line-height: 18px
      background: none

ol
  margin: 0 0 20px 20px
  list-style: decimal
  & ol, ul
    margin: 5px 0 5px 20px

  & li
    margin: 0 0 5px 0
    padding: 0
    line-height: 18px
