nav
  &.group
    & a
      font-size: 15px
      padding: 0 16px
      &:last-child
        border-right: none
        padding-right: 0px
  & .icon
      margin-right: 4px


  &:not(.group)
    & a
      &.text.normal
        font-size: 14px

  & .text.normal
    font-size: 14px

.navigation
  &.fixed
    position: fixed
    top: 0px
    width: 100%
    display: block
