nav
  & > .button, button
    font-size: 14px !important

  &.group
    & a
      padding: 12px 16px
      margin: 0px
      display: inline-block

  &:not(.group)
    & a
      margin: 0 2px
      &:last-child
        margin-right: 0px

  & a:not(.button) .icon
    margin-right: 4px
    position: relative
    top: 1px
