@import "__constants.styl"

.button, button
  display: inline-block
  height: h = 32px
  border: none
  cursor: pointer
  font-size: 15px
  font-family: inherit
  line-height: (h - 2)
  text-align: center
  text-decoration: none
  outline: none

  &:disabled, &.disabled
    background: rgba(255,255,255,0.2)
    color: #999 !important

  &.icon
    padding: 2px 9px 0 9px
  &:not(.icon)
    padding: 0 16px
    & .icon
      margin-right: (padding / 2)
      display: inline-block

  &.anchor
    width: 100%
    position: relative
    &:not(.icon) .icon
      position: absolute
      left: 5%

  &.large
    height: h = 52px
    font-size: 22px
    line-height: (h - 4)
    &.icon
      padding: 0 16px
    &:not(.icon)
      padding: 0 24px


  &.small
    height: h = 28px
    font-size: 13px
    line-height: (h - 2)
    &.icon
      padding: 1px 8px 0 8px
    &:not(.icon)
      padding: 0 12px
      & > .icon
        height: 17px

  &.tiny
    height: h = 22px
    font-size: size = (h / 2)
    line-height: (h - 2)
    &.icon
      padding: 1px 6px 0 6px
    &:not(.icon)
      padding: 0 10px
      & > .icon
        height: size
        line-height: size
