@import "__vendor.styl"
@import "__constants.styl"

.button, button
  display: inline-block
  padding: 10px 16px
  border: none
  cursor: pointer
  font-size: 1.0rem
  font-family: inherit
  line-height: font-size
  text-align: center
  text-decoration: none
  outline: none

  &:disabled, &.disabled
    background: rgba(255,255,255,0.2)
    color: #999 !important

  & .icon
    margin-right: (padding / 2)
    display: inline-block

  &.anchor
    width: 100%
    & .icon
      margin-left: 8px
      float: left

  &.large
    height: h = 52px
    padding: 0 24px
    font-size: 1.25rem
    line-height: h !important

  &.small
    height: h = 28px
    padding: 0 12px
    font-size: 0.9rem
    line-height: (h - 2) !important
    & > .icon
      height: 17px

  &.tiny
    height: h = 22px
    padding: 0 10px
    font-size: 0.75rem
    line-height: (h - 2) !important
    & > .icon
      height: 12px
