@import "__vendor.styl"

.float
  &.clear
    clear: both
  &.left
    float: left
  &.right
    float: right

dimension = 20px

.margin_none
  margin: 0
.margin
  margin: dimension
.margin_left
  margin-left: dimension
.margin_right
  margin-right: dimension
.margin_top
  margin-top: dimension
.margin_bottom
  margin-bottom: dimension

.padding_none
  padding: 0
.padding
  padding: dimension
.padding_left
  padding-left: dimension
.padding_right
  padding-right: dimension
.padding_top
  padding-top: dimension
.padding_bottom
  padding-bottom: dimension

.display
  &.block
    display: block
  &.hidden
    display: none

/* ================== IMAGE & MEDIA ================== */
img
  border: 0
  -ms-interpolation-mode: bicubic

  &.responsive
    width: 100%
    height: auto
    &.rounded
      border-radius 50%
