@import "../../stylesheets/__vendor.styl"
@import "../../stylesheets/__constants.styl"

padding = 12px

[data-tuktuk="modal"]
  position: fixed
  top: 0
  left: 50%
  background: #eee
  border-radius 0 0 1px 1px
  box-shadow 0 1px 4px #000
  transition all 300ms 100ms
  transform translateY(-100%)
  opacity: 0
  visibility: hidden
  z-index: 1981

  & > *
    padding: padding

  & > header, > footer
    background: #e5e5e5

  & > article
    box-flex(1)

  &.active
    transform translateY(0%)
    opacity: 1
    visibility: visible

  &:not(.side)
    w = 288px
    margin-left: -(w / 2)
    margin-top: 0px !important

    &.column_5
      w = 368px
      margin-left: -(w / 2)
    &.column_6
      w = 448px
      margin-left: -(w / 2)
    &.column_7
      w = 528px
      margin-left: -(w / 2)
    &.column_8
      w = 608px
      margin-left: -(w / 2)
    &.column_9
      w = 688px
      margin-left: -(w / 2)
    &.column_10
      w = 768px
      margin-left: -(w / 2)
    &.column_11
      w = 848px
      margin-left: -(w / 2)
    &.column_12
      w = 928px
      margin-left: -(w / 2)

  &
    width: 288px
  &.column_5
    width: 368px
  &.column_6
    width: 448px
  &.column_7
    width: 528px
  &.column_8
    width: 608px
  &.column_9
    width: 688px
  &.column_10
    width: 768px
  &.column_11
    width: 848px
  &.column_12
    width: 928px

  &.side
    position: absolute
    display-box()
    box-orient(vertical)
    top: 0px
    right: 0px
    bottom: 0px
    left: auto
    margin: 0
    box-shadow -1px 0 4px #000
    transform translateX(100%)
    &.active
      transform translateX(0%)

@media only screen and (max-width: 528px)
  [data-tuktuk="modal"]
    left: 5% !important
    width: w = 90% !important
    margin-left: 0px !important

[data-tuktuk="lock"]
  width: 100%
  height: 100%
  position: fixed
  top: 0
  bottom: 0
  left: 0
  background: rgba(0,0,0,0.75)
  z-index: 1980
  visibility: hidden
  opacity: 0
  transition all 300ms 100ms
  &.active
    visibility: visible
    opacity: 1
