@import "../../components/CSSmethods/vendor.styl"

/* DEFAULTS */
COLOR           = #444
BACKGROUND      = #fff
THEME           = #3498DB

/* BUTTONS */
WHITE           = #fff
/* BUTTONS */
BUTTON          = #555
DISABLED        = #444
SUCCESS         = #2ECC71
ALERT           = #E74C3C
/* BACKGROUNDS */
LIGHT           = #ECF0F1
DARK            = #7F8C8D
/* OTHERS */
TRANSITION      = 300ms
BORDER-RADIUS   = 1px
FORM_BORDER     = #BDC3C7

AVATAR_DEFAULT  = "http://www.murketing.com/journal/wp-content/uploads/2009/04/vimeo.jpg"
