[data-tuktuk="modal"]
  background: #fff
  transition all 250ms
  & header
    background: THEME !important
    color: WHITE

[data-tuktuk="lock"]
  opacity: 0
  transition all 250ms
  &.active
    opacity: 1
    &:not([data-active=true])
      background-color: rgba(0,0,0,0.8)
    &[data-loading=true]
      background-color: rgba(0,0,0,0.0)
      & > .loading
        background-color: rgba(0,0,0,0.5)
        border-radius: BORDER-RADIUS
        &::before, &::after 
          background: #fff
          border-radius 1em
