div.loading
  & > .container
    & > span
      background-color: #fff

      &.top
        background-color: rgba(255,255,255,0.99)
      &.top::after
        background-color: rgba(255,255,255,0.90)
      &.left::before
        background-color: rgba(255,255,255,0.80)
      &.left
        background-color: rgba(255,255,255,0.70)
      &.left::after
        background-color: rgba(255,255,255,0.60)
      &.bottom::before
        background-color: rgba(255,255,255,0.50)
      &.bottom
        background-color: rgba(255,255,255,0.40)
      &.bottom::after
        background-color: rgba(255,255,255,0.35)
      &.right::before
        background-color: rgba(255,255,255,0.30)
      &.right
        background-color: rgba(255,255,255,0.25)
      &.right::after
        background-color: rgba(255,255,255,0.20)
      &.top::before
        background-color: rgba(255,255,255,0.15)


