/* ====================== FONT-FACE ====================== */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700");
body {
  color: #111;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
/* ====================== NAVIGATION ====================== */
/* ====================== BACKGROUNDS ====================== */
/* ====================== TEXT ====================== */
/* ====================== FORM ====================== */
/* ====================== TABLE ====================== */
/* ====================== BUTTONS ====================== */
/* ====================== BUTTONS ====================== */
/* ====================== TAGs ====================== */
}
body > header.solid {
  background: #111;
}
body > header .tapquo > img {
  max-height: 48px;
}
body > header nav a.icon {
  color: #ccc;
  font-size: 24px;
  margin: 0 0 0 16px;
}
body > header nav a.icon:hover,
body > header nav a.icon:active {
  color: #666;
}
body > footer img {
  height: 16px;
  position: relative;
  top: 5px;
  left: 2px;
}
body > footer p {
  margin-bottom: 4px;
}
body > section.underline {
  border-bottom: solid #bbb 1px;
}
body hr {
  border-style: solid;
  border-color: #f7f7f7;
  margin: 20px 0;
  padding: 0;
}
body nav.group a {
  border-left: solid #ccc 1px;
}
body nav.group a,
body nav.group a > .icon {
  color: #888;
}
body nav.group a:hover,
body nav.group a:active,
body nav.group a.active {
  color: #000;
  background: #fff;
}
body nav.group a:hover > .icon,
body nav.group a:active > .icon,
body nav.group a.active > .icon {
  color: #000;
}
body nav.group a:last-child {
  border-right: solid #ccc 1px;
}
body .bck.lightest {
  background-color: #fff;
}
body .bck.light {
  background-color: #f7f7f7;
}
body .bck.dark {
  background-color: #383838;
}
body .bck.darkest {
  background-color: #181818;
}
body .bck.theme {
  background-color: #f66;
}
body .bck.accept {
  background-color: color_accept;
}
body .bck.cancel {
  background-color: color_cancel;
}
body .text.shadow {
  -webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  -moz-text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  -ms-text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  -o-text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
body .text.color.white {
  color: #fff;
}
body .text.color.theme {
  color: #f66;
}
body .text.color.secondary {
  color: #bfbfbf;
}
body .text.color.accept {
  color: color_accept;
}
body .text.color.cancel {
  color: color_cancel;
}
body form input[type="text"],
body .form input[type="text"],
body form input[type="password"],
body .form input[type="password"],
body form input[type="date"],
body .form input[type="date"],
body form input[type="datetime"],
body .form input[type="datetime"],
body form input[type="email"],
body .form input[type="email"],
body form input[type="number"],
body .form input[type="number"],
body form input[type="search"],
body .form input[type="search"],
body form input[type="tel"],
body .form input[type="tel"],
body form input[type="time"],
body .form input[type="time"],
body form input[type="url"],
body .form input[type="url"],
body form select,
body .form select,
body form textarea,
body .form textarea {
  background-color: #fff;
  color: rgba(0,0,0,0.75);
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
body form input[type="text"].error,
body .form input[type="text"].error,
body form input[type="password"].error,
body .form input[type="password"].error,
body form input[type="date"].error,
body .form input[type="date"].error,
body form input[type="datetime"].error,
body .form input[type="datetime"].error,
body form input[type="email"].error,
body .form input[type="email"].error,
body form input[type="number"].error,
body .form input[type="number"].error,
body form input[type="search"].error,
body .form input[type="search"].error,
body form input[type="tel"].error,
body .form input[type="tel"].error,
body form input[type="time"].error,
body .form input[type="time"].error,
body form input[type="url"].error,
body .form input[type="url"].error,
body form select.error,
body .form select.error,
body form textarea.error,
body .form textarea.error,
body form input[type="text"]:required,
body .form input[type="text"]:required,
body form input[type="password"]:required,
body .form input[type="password"]:required,
body form input[type="date"]:required,
body .form input[type="date"]:required,
body form input[type="datetime"]:required,
body .form input[type="datetime"]:required,
body form input[type="email"]:required,
body .form input[type="email"]:required,
body form input[type="number"]:required,
body .form input[type="number"]:required,
body form input[type="search"]:required,
body .form input[type="search"]:required,
body form input[type="tel"]:required,
body .form input[type="tel"]:required,
body form input[type="time"]:required,
body .form input[type="time"]:required,
body form input[type="url"]:required,
body .form input[type="url"]:required,
body form select:required,
body .form select:required,
body form textarea:required,
body .form textarea:required {
  border-color: color_cancel;
  color: color_cancel;
  background-color: rgba(198,15,19,0.1);
}
body form input[type="text"]:focus,
body .form input[type="text"]:focus,
body form input[type="password"]:focus,
body .form input[type="password"]:focus,
body form input[type="date"]:focus,
body .form input[type="date"]:focus,
body form input[type="datetime"]:focus,
body .form input[type="datetime"]:focus,
body form input[type="email"]:focus,
body .form input[type="email"]:focus,
body form input[type="number"]:focus,
body .form input[type="number"]:focus,
body form input[type="search"]:focus,
body .form input[type="search"]:focus,
body form input[type="tel"]:focus,
body .form input[type="tel"]:focus,
body form input[type="time"]:focus,
body .form input[type="time"]:focus,
body form input[type="url"]:focus,
body .form input[type="url"]:focus,
body form select:focus,
body .form select:focus,
body form textarea:focus,
body .form textarea:focus {
  background: #fafafa;
  border-color: #b3b3b3;
  color: rgba(0,0,0,0.75);
}
body table {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
body table tr:nth-child(even) td {
  background-color: #f9f9f9;
}
body table th {
  background-color: #eee;
  color: #222;
}
body table td.highlight {
  background-color: #f66 !important;
  color: #fff;
}
body .button,
body button {
  background-color: #f66;
  color: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  border: solid 1px rgba(0,0,0,0.1);
  font-weight: 400;
}
body .button:active,
body button:active {
  -webkit-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -ms-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  -o-box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  box-shadow: inset 0 0 128px rgba(0,0,0,0.25);
  border-color: none;
}
body .button.secondary,
body button.secondary {
  background-color: #bfbfbf;
  color: #666;
  -webkit-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  -moz-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  -ms-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  -o-text-shadow: 0 1px 0 rgba(255,255,255,0.25);
  text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}
body .button.accept,
body button.accept {
  background-color: color_accept;
}
body .button.cancel,
body button.cancel {
  background-color: color_cancel;
}
body .button.transparent,
body button.transparent {
  background: none !important;
}
body a {
  color: #f66;
  opacity: 0.9;
}
body a:hover,
body a:active {
  opacity: 1;
}
body :not(.icon).tag {
  color: #fff !important;
  border: solid 1px rgba(0,0,0,0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
